


```
Apriori Algorithm Implementation
```


```
Name: Hasibul Hasan
ID:   011 181 117
```

In [ ]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#Reading Data From the link:
http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx

In [ ]:
myretaildata = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
myretaildata.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

#Data Preprocessiing


*   removes spaces from beginning and end
*   removes duplicate invoice
*   converting invoice number to be string
*   remove the credit transactions

In [ ]:
myretaildata['Description'] = myretaildata['Description'].str.strip()
myretaildata.dropna(axis=0, subset=['InvoiceNo'], inplace=True)
myretaildata['InvoiceNo'] = myretaildata['InvoiceNo'].astype('str') 
myretaildata = myretaildata[~myretaildata['InvoiceNo'].str.contains('C')] 
myretaildata.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
myretaildata['Country'].value_counts()
#myretaildata.shape

United Kingdom          487622
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: Country, dtype: int64

#Separating transactions for "France"

In [ ]:
mybasket = (myretaildata[myretaildata['Country'] =="France"]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))

#viewing transaction basket

In [ ]:
mybasket.head()

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                          0.0  ...                              0.0
536852                          0.0  ...                              0.0
536974                          0.0  ...                              0.0
537065                          0.0  ...                              0.0
537463                          0.0  ...                              0.0

[5 rows x 1563 columns]

#converting all positive vaues to 1 and everything else to 0

In [ ]:
def my_encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

my_basket_sets = mybasket.applymap(my_encode_units)
my_basket_sets.drop('POSTAGE', inplace=True, axis=1)



*   Generatig frequent itemsets
*   generating rules
*   viewing top 100 rules

In [ ]:
my_frequent_itemsets = apriori(my_basket_sets, min_support=0.07, use_colnames=True)
my_rules = association_rules(my_frequent_itemsets, metric="lift", min_threshold=1)
my_rules.head(100)

In [ ]:
my_basket_sets['SET/6 RED SPOTTY PAPER CUPS'].sum()
my_basket_sets['PLASTERS IN TIN WOODLAND ANIMALS'].sum()

54

#Filtering rules based on condition

In [ ]:
my_rules[ (my_rules['lift'] >= 3) &
       (my_rules['confidence'] >= 0.3) ]

                                          antecedents  ... conviction
0                        (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
1                         (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
2                          (ALARM CLOCK BAKELIKE RED)  ...   5.568878
3                        (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
4                          (ALARM CLOCK BAKELIKE RED)  ...   4.153061
5                         (ALARM CLOCK BAKELIKE PINK)  ...   3.293135
6                              (DOLLY GIRL LUNCH BOX)  ...   3.102273
7                                (SPACEBOY LUNCH BOX)  ...   2.101190
8                          (PLASTERS IN TIN SPACEBOY)  ...   2.363588
9                     (PLASTERS IN TIN CIRCUS PARADE)  ...   1.835747
10                 (PLASTERS IN TIN WOODLAND ANIMALS)  ...   2.063681
11                    (PLASTERS IN TIN CIRCUS PARADE)  ...   2.104592
12                         (PLASTERS IN TIN SPACEBOY)  ...   3.443878
13                 (PLASTERS IN TIN WOODLAND ANIMALS)  ...   2.221939
14                      (SET/6 RED SPOTTY PAPER CUPS)  ...   3.345481
15               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.736395
16               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.780612
17                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.336735
18                      (SET/6 RED SPOTTY PAPER CUPS)  ...   7.852041
19                    (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
20  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...  ...  34.897959
21  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...  ...   4.625850
22  (SET/6 RED SPOTTY PAPER PLATES, SET/20 RED RET...  ...  34.489796
23                      (SET/6 RED SPOTTY PAPER CUPS)  ...   3.232653
24               (SET/20 RED RETROSPOT PAPER NAPKINS)  ...   3.510204
25                    (SET/6 RED SPOTTY PAPER PLATES)  ...   4.081633

[26 rows x 9 columns]



---

Reference: https://www.youtube.com/watch?v=4QIWJVVWJdQ&ab_channel=UnfoldDataScience